<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/png" href="./icons/02d.png">
    <title>Weather Website</title>
</head>
<body>
    <header>
        <h1>WEWE</h1>
        <div class="buttons text-buttons">
            <h2 onclick='window.open("https://www.figma.com/design/I6y9Of9ScYtW9xOQot8E1Q/WeWe?node-id=0%3A1&t=qRX4Gh2L2H5Op6IN-1", "_blank")'>
                design
            </h2>
            <h2 onclick='window.open("https://github.com/nikatopu", "_blank")'>
                projects
            </h2>
        </div>
        <div class="buttons icon-buttons">
            <img 
            src="./icons/figma.png" 
            alt="figma logo and link" 
            onclick='window.open("https://www.figma.com/design/I6y9Of9ScYtW9xOQot8E1Q/WeWe?node-id=0%3A1&t=qRX4Gh2L2H5Op6IN-1", "_blank")'>
            <img 
            src="./icons/github.png" 
            alt="github logo and link" 
            onclick='window.open("https://github.com/nikatopu", "_blank")'>
        </div>
    </header>
