/* -------------------------------------------- COLORS -------------------------------------------- */
:root {
    --text: #0c181d;
    --background: #f4f8fb;
    --background-darker: #dfe4e7;
    --primary: #26a6d9;
    --secondary: #7bd2f4;
    --accent: #48cbfe;
}

/* -------------------------------------------- MAIN -------------------------------------------- */

body {
    background-color: var(--background);
    color: var(--text);

    margin: 0;
    font-family: "Inter", sans-serif;
}

* {font-family: "Inter", sans-serif;}

.shadow {
    box-shadow: 7px 5px 8px var(--background-darker);
}


/* -------------------------------------------- HEADER -------------------------------------------- */

header {
    width: 89lvw;
    height: 44px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0% 5.5%;

    border-bottom: 1px solid var(--background-darker);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 12.5%;
}

.buttons > * {transition-duration: 0.2s;}

.buttons > *:hover {
    cursor: pointer;
    color: var(--accent);

    transition-duration: 0.2s;
    transform: scale(1.05);
}

.icon-buttons {
    display: none;
}

/* -------------------------------------------- SEARCH BAR -------------------------------------------- */

#searchbar {
    width: 100lvw;
    height: 10svh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#place {
    width: 40%;
    height: 6svh;

    background-color: var(--background-darker);
    border: 0px solid transparent;
    border-radius: 25px;

    padding: 0 12px;
    font-size: large;
}

/* -------------------------------------------- BEFORE DATA -------------------------------------------- */

.nodata {
    font-size: x-large;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 5svh 18lvw;
}

.nodata > * > b {
    color: var(--accent);
}

/* -------------------------------------------- LOCATION NAME  -------------------------------------------- */

.location {
    width: 100lvw;
    text-align: center;

    font-size: 1.5lvw;
}

.location > * > b {
    color: var(--accent);
}

/* -------------------------------------------- DAYS AND THEIR DESIGNS -------------------------------------------- */

.allDays {
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.day {
    cursor: pointer;

    width: 40lvw;
    height: 8lvw;

    padding: 0.615vw;
    margin: 0.615vw;


    display: flex;
    flex-direction: column;
    justify-content: top;
    overflow-y: hidden;
    
    background-color: var(--background);

    border: 1px solid var(--background-darker);
    border-radius: 45px;

    transition-duration: 0.4s;
}

.day:hover:not(.expanded) {
    border: 3px solid var(--accent);
    height: 16lvw;

    /* flex-grow: 1.01; */
    transform: scale(1.1) translateY(-6px);
    transition-duration: 0.4s;
}

/* -------------------------- Day - Expanded -------------------------- */

.expanded {
    position: fixed;
    /* top: 2.5svh; */

    width: 89lvw;
    height: 80svh;
}

/* .hide:not(.expanded > .hide) {
    display: none;
}

.expanded > .hide {
    display: block;
} */

/* -------------------------- TOP -------------------------- */

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 8svw;
}

.icon > img {
    width: 7lvw;
    height: auto;
}

.aveTemp {
    width: 35%;
    text-align: right;
    font-weight: bolder;
    font-size: 8vmin;
    padding: 5%;
}

.smallinfo {
    /* display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center; */

    font-size: 3.5vmin;
    text-align: left;
    line-height: 3vmin;

    padding-top: 5%;
}

.smallinfo > *, .smallinfo > * > * {
    margin: 0;
}

.smallinfo > p > b {
    color: var(--accent);

    font-size: 2vmin;
}

/* -------------------------- BOTTOM -------------------------- */

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bluebold > b, .bluebold > * > b {
    color: var(--accent);
}

.column {
    display: flex;
    flex-direction: column;

    line-height: 1vmin;
    text-align: center;

    width: 30%;
}







/* -------------------------------------------- RESPONDIVNESS -------------------------------------------- */

/* -------------------------- Small screen sizes -------------------------- */

@media screen and (max-width: 64em) {
    body {
        overflow-x: hidden;
    }

    #place {
        width: 90%;
    }

    .text-buttons {
        display: none;
    }

    header {
        width: 90svw;
        padding: 0% 5%;
    }

    .icon-buttons {
        display: flex;
    }

    .icon-buttons > img {
        height: 42px;
        cursor: pointer;
    }

    .day {
        width: 95svw;
        height: 10svh;
    }

    .day:hover {
        height: 20svh;

        transform: scale(1);
    }

    .icon > img {
        height: 9svh;
        width: auto;
    }

    .top {
        height: 9svh;
    }

    .smallinfo {
        font-size: 3svh;

        line-height: 2.5svh;
    }

    .smallinfo > p > b {
        font-size: 2svh;
    }

    .bottom > * {
        transform: scale(0.8);
        font-size: 3svw;
    }

    .bottom {
        justify-content: space-between;
    }

    .column {
        font-size: 1.5svh;
        width: 50%;
    }
}