/* -------------------------------------------- COLORS -------------------------------------------- */
:root {
    --text: #0c181d;
    --background: #f4f8fb;
    --background-darker: #dfe4e7;
    --primary: #26a6d9;
    --secondary: #7bd2f4;
    --accent: #48cbfe;
}

/* -------------------------------------------- MAIN -------------------------------------------- */

body {
    background-color: var(--background);
    color: var(--text);

    margin: 0;
    font-family: "Inter", sans-serif;
}

* {font-family: "Inter", sans-serif;}

.shadow {
    box-shadow: 7px 5px 8px var(--background-darker);
}


/* -------------------------------------------- HEADER -------------------------------------------- */

header {
    width: 89lvw;
    height: 44px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0lvw 5.5lvw;

    border-bottom: 1px solid var(--background-darker);

    font-size: 1lvw;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 13lvw;
}

.buttons > * {transition-duration: 0.2s;}

.buttons > *:hover {
    cursor: pointer;
    color: var(--accent);

    transition-duration: 0.2s;
    transform: scale(1.05);
}

.icon-buttons {
    display: none;
}

/* -------------------------------------------- SEARCH BAR -------------------------------------------- */

#searchbar {
    width: 100lvw;
    height: 10lvh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#place {
    width: 40%;
    height: 6lvh;

    background-color: var(--background-darker);
    border: 0px solid transparent;
    border-radius: 25px;

    padding: 0 12px;
    font-size: large;
}

/* -------------------------------------------- BEFORE DATA -------------------------------------------- */

.nodata {
    font-size: x-large;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 5lvh 18lvw;
}

.nodata > * > b {
    color: var(--accent);
}

/* -------------------------------------------- LOCATION NAME  -------------------------------------------- */

.location {
    width: 100lvw;
    text-align: center;

    font-size: 1.5lvw;
}

.location > * > b {
    color: var(--accent);
}

/* -------------------------------------------- DAYS AND THEIR DESIGNS -------------------------------------------- */

.allDays {
    width: 100lvw;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.day {
    cursor: pointer;

    width: 40lvw;
    height: 8lvw;

    padding: 0.615lvw;
    margin: 0.615lvw;


    display: flex;
    flex-direction: column;
    justify-content: top;
    overflow-y: hidden;
    
    background-color: var(--background);

    border: 1px solid var(--background-darker);
    border-radius: 45px;

    transition-duration: 0.4s;
}

@media screen and (min-width: 64em) {
    .day:hover:not(.expanded) {
        border: 3px solid var(--accent);
        height: 16lvw;
    
        /* flex-grow: 1.01; */
        transform: scale(1.1) translateY(-6px);
        transition-duration: 0.4s;
    }
}

/* -------------------------- TOP -------------------------- */

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 8svw;
}

.icon > img {
    width: 7lvw;
    height: auto;
}

.aveTemp {
    width: 35%;
    text-align: right;
    font-weight: bolder;
    font-size: 8vmin;
    padding: 5%;
}

.smallinfo {
    /* display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center; */

    font-size: 3.5vmin;
    text-align: left;
    line-height: 3vmin;

    padding-top: 5%;
}

.smallinfo > *, .smallinfo > * > * {
    margin: 0;
}

.smallinfo > p > b {
    color: var(--accent);

    font-size: 2vmin;
}

/* -------------------------- BOTTOM -------------------------- */

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bluebold > b, .bluebold > * > b {
    color: var(--accent);
}

.column {
    display: flex;
    flex-direction: column;

    line-height: 1vmin;
    text-align: center;

    width: 30%;
}





/* -------------------------- Day - Expanded -------------------------- */

.expanded {
    position: fixed;
    /* top: 2.5lvh; */

    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    width: 89lvw;
    height: 78lvh;
}

.hidden:not(.expanded) {
    display: none;
}

.expanded > .daily {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: 35lvh;
}

/* TOP */
.expanded > .daily > .top {
    width: 50%;
    justify-content: space-evenly;
}

.expanded > .daily > .top > .icon {
    width: 16lvw;
}
.expanded > .daily > .top > .icon > img {
    width: 15lvw;    
}

.expanded > .daily > .top > .smallinfo,
.expanded > .daily > .top > .smallinfo > * > * {
    font-size: 2.5lvw;
}

.expanded > .daily > .top > .smallinfo > p {
    margin-top: 1.5lvw;
}

.expanded > .daily > .top > .aveTemp {
    padding: 0;
}

/* Bottom */
.expanded > .daily > .bottom {
    width: 40%;
    flex-direction: row-reverse;
}

/* The Hourly */
.day:not(.expanded) > .hourly {
    display: none;
}

.hourly {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* overflow-x: scroll; */
}

.hour {
    width: 10lvw;

    border: 1px solid var(--background-darker);
    border-radius: 1lvw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin: 0.1lvw;
}

.hour > img {
    width: 9lvw;
    height: auto;
}

.hourtemp > p {
    color: var(--accent);
    font-size: 1.5lvw;
}

.hourtemp > h1 {
    font-size: 3lvw;
    margin: 0;
}


/* -------------------------- Expanded day - close button -------------------------- */

.day:not(.expanded) > .daily > .top > .closebutton {
    display: none;
}

.expanded > .daily > .top > .closebutton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3lvw;
    height: 3lvw;

    position: absolute;
    right: 1lvw;
    top: 1lvw;

    text-align: center;
    font-size: 2lvw;
    font-weight: bold;

    z-index: -99;
}




/* -------------------------------------------- RESPONDIVNESS -------------------------------------------- */

/* -------------------------- Small screen sizes -------------------------- */

@media screen and (max-width: 64em) {
    body {
        overflow-x: hidden;
    }

    #place {
        width: 90%;
    }

    .text-buttons {
        display: none;
    }

    header {
        font-size: 4lvw;
    }

    .icon-buttons {
        display: flex;
        width: auto;
    }

    .icon-buttons > img {
        height: 42px;
        cursor: pointer;
    }

    .day {
        width: 95svw;
        height: 10lvh;
    }

    .icon > img {
        height: 9lvh;
        width: auto;
    }

    .top {
        height: 9lvh;
    }

    .smallinfo {
        font-size: 3lvh;

        line-height: 2.5lvh;
    }

    .smallinfo > p > b {
        font-size: 2lvh;
    }

    .bottom > * {
        transform: scale(0.8);
        font-size: 3svw;
    }

    .bottom {
        justify-content: space-between;
    }

    .column {
        font-size: 1.5lvh;
        width: 50%;
    }

    .expanded {
        height: 80lvh;
        top: 44px;
    }

    .expanded > .daily {
        height: 40%;
        flex-direction: column;
    }
    
    .expanded > .daily > .top {
        width: 100%;
    }

    .expanded > .daily > .top > .icon {
        width: 32lvw;
    }

    .expanded > .daily > .top > .icon > img {
        width: 30lvw;
        height: auto;
    }

    .expanded > .daily > .top > .smallinfo,
    .expanded > .daily > .top > .smallinfo > * > * {
        font-size: 4lvw;
    }

    .expanded > .daily > .top > .smallinfo > p {
        margin-top: 2.5lvw;
    }

    .expanded > .daily > .top > .aveTemp {
        font-size: 12lvw;
    }

    .expanded > .daily > .bottom {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .hourly {
        flex-wrap: wrap;
        flex-direction: row;
        height: 60%;
    }

    .hour {
        width: 40lvw;
        margin: 0lvw 2lvw;
        flex-direction: row;

        border-radius: 5lvw;
    }

    .hour > img {
        width: 18lvw;
        height: auto;
    }

    .hourtemp {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .hourtemp > h1 {
        font-size: 6lvw;
    }

    .hourtemp > p {
        font-size: 5lvw;
        margin: 0;
    }
}